html,
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/******************************  LOGIN SCREEN  ****************************************/

#login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.text_entry {
    outline: none;
    width: 300px;
    border: none;
    border-bottom: solid 1px black;
    padding-bottom: 6px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.button {
    outline: none;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #E5E5E5;
    border: none;
}

#error_message {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: red;
}


/******************************  DASHBOARD  ****************************************/

#header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EDEDED;
    width: 100%;
    height: 60px;
    z-index: 10;
    display: flex;
    align-items: center;
}

#header_inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.l {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.r {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

#header_logo {
    width: auto;
    height: 40px;
}

.header_heading {
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

#company_search {
    padding-right: 40px;
}

#search_value {
    outline: none;
    width: 300px;
    border: none;
    background-color: #EDEDED;
    border-bottom: solid 1px black;
    padding-bottom: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#search_icon {
    margin-left: -15px;
    margin-bottom: -3px;
}

#content_inner {
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
}

#default_content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#content_inner .show {
    display: flex;
}

#content_inner #error_message {
    position: fixed;
    top: 65px;
    right: 30px;
}

.para_text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

#company_content {
    display: none;
}

.left {
    flex: 1;
    height: 100vh;
    position: relative;
}

.right {
    flex: 2;
    height: 100vh;
    position: relative;
}

.left .inner {
    position: absolute;
    top: 100px;
    bottom: 15px;
    left: 30px;
    right: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.right .inner {
    position: absolute;
    top: 100px;
    bottom: 15px;
    left: 10px;
    right: 30px;
    overflow-y: auto;
}

.left_content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.right_content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

#company_logo {
    height: auto;
    width: 120px;
    text-align: center;
    padding-bottom: 20px;
}

.location {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.location img {
    width: auto;
    height: 14px;
    padding-right: 3px;
}

#company_location {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #767676;
}

.button_links_div {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.button_link {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #656565;
    border-radius: 20px;
    color: white;
}

#sm_links {
    display: flex;
    padding-top: 50px;
    width: 100%;
    justify-content: center;
}

#sm_links li {
    padding-right: 10px;
    padding-left: 10px;
}

.right_data {
    background-color: white;
    /* width: 100%; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: visible;
    margin-bottom: 10px;
}

.right_data p {
    line-height: 24px;
}

.lh {
    line-height: 24px;
}

.intro_line_content {
    display: flex;
    justify-content: space-between;
}

#company_tech_data p {
    word-break: break-all;
}

.nodata_message {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #767676
}

#contact_data ul {
    columns: 100px 2;
}

#company_address li {
    padding-right: 80px;
}